<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de usuarios</title>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body class="has-background-dark has-text-light">
<section class="section">
    <div class="container">
        <h1 class="title has-text-warning">Usuarios</h1>
        <p class="subtitle has-text-grey-light">
            Prueba sencilla: leer usuarios desde la BD.
        </p>

        <div class="table-container">
            <table class="table is-striped is-fullwidth is-dark">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Rol (id_rol)</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="u : ${usuarios}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${u.nombre}"></td>
                    <td th:text="${u.correo}"></td>
                    <td th:text="${u.rol != null ? u.rol.nombre : 'Sin rol'}"></td>
                </tr>



                <tr th:if="${#lists.isEmpty(usuarios)}">
                    <td colspan="4" class="has-text-centered">
                        No hay usuarios en la base de datos.
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <a href="/" class="button is-light">Volver al inicio</a>
    </div>
</section>
</body>
</html>
